# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
node_modules/

# build outputs
/dist
dist/
dist/main.js

# TypeScript build info
*.tsbuildinfo
tsconfig.main.buildinfo
